*{
    margin:0;
    padding:0;
    font-family:'poppins','sans-serif';
    box-sizing:border-box;
    position: relative;
   
}
 
.HomeNav{
    background-color:rgb(46, 46, 114);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: relative;
    width: 100%;  
    background-size: cover;
    background-repeat: no-repeat;
    height:90vh;
    background-position: center;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 160px; 
}
.Navbar{
    background-color: rgba(55, 59, 143, 0);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
}
.logo img{
    width: 140px;
    height: 120px;
    width: 50%;
}
.content{
    /* text-align: center; */
    margin-left: 100px;
    margin-right: 100px;
}
li:hover{
    color:#344ab8;
}
.button button:hover{
    opacity: 0.8;
    transform: translateY(-10px);
    color: #EDF6FF;
}
.Navbar a:after{
    content: "";
    display: block;
    width: 0;
height: 3px;
background-color: #455bca;
transition: width 0.5s;
border-radius: 25px;
}
a:hover:after{
width: 100%;
}
.HomeTop{
    display: flex;
    justify-content: space-around;
}
.list{
    width: 40%;
}
 ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    color: #ffff;
}
.button button{
    color: black;
    background-color: #2525f2;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    border:  solid 2px rgba(255, 0, 0, 0) ;
    font-size: 14px;
    font-weight: bold;
}
h1{
    font-size:59px;
    color:#fff;
}
/* p{
    font-size: 25px;
} */
.imgt img{
    width:500px;
height:300px;
border-radius:20px;
}
.two{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.p{
    margin-left:25px;
    margin-top:-160px;
    color: #f9f9f9;
    font-weight:700;
    font-size:25px;
}
span{
    color: #ffff;
}
/*****************************************************about**********************************/
.About{
    margin-top:190px;
    width:100%;
    height:75vh;
    /* text-align: center; */
    /* background-color: #edf6ff; */
    background-color: #EDF6FF;
    padding: 30px 0;
    margin-bottom:100px;
    position: relative;
}

.img {
    position: absolute;
    margin: 0;
    padding: 0;
    top:-40%;
    right:0;
    width: 100%;
    height: 97%;
    border-radius: 2px;

}
.About .img{
    width:40%;

}
.About .img img{
    width:100%;
}
.About .btn{
    margin-top:70px;
    /* text-align: center; */
    width:100%;
}
.About button{
    
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0px 15px;
    border: unset;
    margin:25px;
    width:200px;
    cursor: pointer;
    font-family: 'Comforta', Arial !important;
}
.About .tab_links.active-link{
    background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
    color: #fff;

}
.about_contant_list{
    display:none;
    text-align: center;
    width:60%;
    padding:10px;
}
.about_contant_list.active-tab{
    display: block;
}

.About .about_contant_list h2{
    color: rgb(34, 34, 34);
    line-height: 45px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Comforta', Arial !important;
    margin: calc(2rem - 0.14285714em) 0 1rem;
}
.About .about_contant_list p{
    color: rgb(119, 119, 119);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Comforta', Arial !important;
    margin: 0 0 1em;
    line-height: 1.4285em;

}
.about{
    width:100%;
    text-align: center;
}
.about h2{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem ;
    font-family: 'Comforta', Arial !important;
}
.about p{
    font-family: 'Comforta', Arial !important;
    font-size:14px;
    color:#212529;
    margin-top:2rem;
}
.about .contant{
    display: flex;
    margin-top:40px;
    width:100%;
    justify-content: center;
       
}

 .about .contant .contant_list{
    width:calc(100/3);
    height:60vh;
    border-radius:10px;
    position: relative;
    overflow: hidden;
    margin:25px;
    
} 

.contant_list img{
    width:100%;
    height:100%; 
     display: block; 
    transition: transform 0.5s;
   
  
}
 .layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.7), #3182B9, #2699B3); 
    border-radius:10px;
    position: absolute;
    left:0;
    bottom:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    padding:0 40px;
    transition: height 0.5s;
}
.layer h3{
    margin-top: 10px;
    
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Comfortaa', Arial !important;
}
.layer p{
    color:#fff;
    font-size:17px;
    font-weight: 400;
    line-height:1.2;

}
.layer button{
    background-color: #fff;
    border-radius: 20px;
    display: block;
    font-size:14px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Comfortaa', Arial !important;
    color: #212529;
    text-align: center;
    border: none;
    height:40px;
}
.layer #square{
    background-color:#3950B5; 
    color: white; 
    margin-top:15px;
    padding-top:20px;
    font-size:20px;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align: center;
}

.contant_list:hover img{
    transform:scale(1.1);
    }
    .contant_list:hover .layer{
        height:100%;
    }

        /**********************************************footer*********************************/
        .photos{
            width:100%;
            display: flex;
            /* margin: 20px;  */
            justify-content: center;
        }
        .im{
            height: 280px;
            width: 280px;
            margin: 20px;
            border-radius: 20px;
            transition: 0.3s;
        }
        .im:hover{
            transform: translateY(-20px);
        }
        .bestmembers{
            height: 550px;
            margin-bottom: 80px;
        }
        .tex{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 70px;
            
        }
        .h1{
        font-size: 40px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        color: #1c557e;
        
        
        }
        .p2{
        font-size: 17px;
        font-family: 'Courier New', Courier, monospace;
        color: #738796;
        font-weight: 550;
        }
        .data{
            background-color: rgb(162, 162, 239);
            display: flex;
            height: 500px;
            
        }
        .log{
        
            height: 200px;
            width: 400px;
            margin: 20px;
            
        }
        .footer{
            width:100%;
            position: relative;
        height: 750px;
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(#0C75C0, #032F4E);
        border-radius: 100px 100px 0px 0px;
        border: solid #032F4E;
        }
        .lef{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:  100px;
        
        
        }
        .icons{
        display: flex;
        margin-left: 100px;
        justify-content: space-between;
        margin-left: 70px;
        margin-top: 70px;
        
        
        
        }
        .ic{
            height: 50px;
            width: 50px;
        }
        
        
        .table{
            display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 150px;
        margin-bottom: 50px;
        
        }
        .link{
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        border:  solid  transparent;
        border-radius: 10px;
        padding: 5px;
        background-color: transparent;
        transition:0.3s;
        
        }
        .link:hover{
        
        background-color: white;
        color: #032F4E;
        
        }
        .table{
            border-radius: 25px 25px 25px 25px;
            border: solid white;
            padding: 30px;
            width: 250px;
            height: 280px;
        }
        .de{
            margin-bottom: 25px;
           
        }
        .border{
        
            border-left: solid white 1px;
        
        }
        .fftext{
        justify-content: center;
            display: flex;
            align-items: center;
        font-size: 30px;
        font-weight: 300;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            height: 100px;
            margin: 30px;
            width: 600px;
            background-color: #ececedf6;
            margin-left: 910px;
            color: #154262;
            border-radius: 20px 0px 0px 20px;
            /* position: absolute; */
            z-index:3;
            margin-top:-30px;
        }
        
        
        .bottom{
        
            display: flex;
            background-color: #ffffffbb;
            align-items: center;
            height: 150px;
            justify-content: center;
        
        }
        .location{
            text-align: center;
            margin-top: 50px;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            text-align: center;
        
        }
        .email{
            text-align: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 50px;
        
        }
       .pp{
        margin-top:90px ;
        margin-left: 300px;
        font-size: 17px;
        margin-right: 50px;
        margin-left: -50px;
        color: #154262;
        
        }
        .contact{
            display: flex;
            margin-left: -70px;
            margin-top: 70px;
        }
        .hover{
        transform: 0.5s;
        }
        .hover:hover{
        transform: translateY(-10px);
        
        }
        .hover2{
            transform: 0.5s;
            }
            .hover2:hover{
            transform: translateY(-10px);
            
            }
